.background {
    background-color:orangered;
    margin-bottom: 10px;
    height: 70px;
   text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    }
p {
    color: lightseagreen;
    background-image: url("https://thumb7.shutterstock.com/display_pic_with_logo/1428518/525718615/stock-photo-young-friends-having-fun-outdoor-drinking-red-wine-happy-people-enjoying-harvest-time-at-525718615.jpg");
    background-size: cover;
    height: 500px;
    font-size: xx-large;
    font-weight: bold;
}
h1 {
    text-align: center;
}
.row {
    display: inline-block;
}
.Use {
    color: white;
    width: 700px;
    height: 40px;
    font-size:30px;
    background-color:lightseagreen;
    margin-left: 25%;
}




